html {
	background-color: black;
	color: white;
	font-size: 16px;
	user-select: none;
	overflow: hidden;
}

ul, li, html, body, div, p, canvas {
	padding: 0; margin: 0;
	line-height: 1em;
}

select, input {
	font-size: inherit;
}

button {
	font-size: 0.8em;
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	position: relative; top: -.1em;
}

button:disabled {
	opacity: 0.5;
}

input[type='checkbox'].fancy {
	display: none;
}

input[type='checkbox'].fancy + span + label {
	cursor: pointer;
	position: relative;
	left: -34px;
	padding-left: 34px;
}

input[type='checkbox'].fancy + span {
	display: inline-block;
	width: 18px; height: 18px;
	position: relative;
	top: 4px; left: 2px;
	background-color: black;
	border-radius: 8px;
	border-width: 3px;
	border-color: gray;
	border-style: solid;
	transition: all 0.1s ease;
}

input[type='checkbox'].fancy:checked + span {
	background-color: #FFA;
}

#loading-cover {
	position: fixed;
	background-color: black;
	text-align: center;
	left: 0; right: 0; top: 0; bottom: 0;
	font-size: 40px;
	line-height: 640px;
	z-index: 10000;
}

#check-flooded:checked + span {
	background-color: #66F !important;
}

#check-flooded:checked + span + label {
	color: #22A;
}

#check-sync:checked + span + label {
	color: #990;
}

#check-global:checked + span {
	background-color: #4D4 !important;
}

#check-global:checked + span + label {
	color: #292;
}

#list-tile-select {
	display: block;
	list-style: none;
	width: 640px;
	line-height: 0;
}

#list-tile-select>.tile-sel {
	display: inline-block;
	width: 32px; height: 32px; overflow: hidden;
	background-color: white;
	image-rendering: pixelated;
}

@keyframes blinking {
	0%, 100% {box-shadow: inset 0 0 32px 32px rgba(255, 255, 255, 0);}
	50% {box-shadow: inset 0 0 32px 32px rgba(255, 255, 255, 0.4);}
}

.tile-sel:hover {
	animation-name: blinking;
	animation-iteration-count: infinite;
	animation-duration: 0.75s;
}

.tile-sel.tile-sel-current {
	animation-name: blinking;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
}

#item-edit {
	display: none;
}

#in-item-data {
	width: 4em;
}

span.hotkey {
	border-bottom: solid 1px black;
}

.internal {
	display: none;
}

#room-display-header, #item-edit {
	background-color: white;
	color: black;
	font-size: 24px;
	width: 628px;
	padding: 2px 6px 6px;
}

#room-show {
	background-color: #666;
	width: 640px; /* 32x20 */
	height: 480px; /* 32x15 */
	overflow: hidden;
	border-bottom: solid 1px white;
	position: relative;
}

#room-show div {
	position: absolute;
}

#room-items {
	left: 0; top: 0;
	width: 640px;
	height: 480px;
	z-index: 30;
	cursor: default;
}

#room-items .item {
	font-size: 12px;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	cursor: move;
}

#room-items .item.item-sel {
	animation-name: blinking;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
}

#room-show-cover {
	left: 0; top: 0;
	width: 640px;
	height: 480px;
	cursor: crosshair;
	z-index: 9000;
}

#room-tile-loc {
	width: 31px; height: 31px;
	border: solid 2px red;
	display: none;
	z-index: 100;
}

#room-tiles {
	position: absolute;
	left: 0; top: 0;
	width: 640px; /* 32x20 */
	height: 480px; /* 32x15 */
	image-rendering: pixelated;
	z-index: 1;
}
